@model IEnumerable<WIMS.Models.WorkItemListItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="CreateBugItem">Add New Bug</a>
    <a asp-action="CreateFeatureItem">Add New Feature</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DaysPending)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DaysPending)
            </td>
            <td>
                @if (item.Type == WIMS.Data.ItemType.Bug)
                {
                    @Html.ActionLink("Edit Bug", "EditBugItem", new { id = item.ItemId })
                }
                else
                {
                    @Html.ActionLink("Edit Feature", "EditFeatureItem", new { id = item.ItemId })
                }
                |
                @if (item.Type == WIMS.Data.ItemType.Bug)
                {
                    @Html.ActionLink("Details", "BugItemDetails", new { id = item.ItemId })
                }
                else
                {
                    @Html.ActionLink("Details","FeatureItemDetails",new { id=item.ItemId})
                }

                @if (item.Type == WIMS.Data.ItemType.Bug)
                {
                    @Html.ActionLink("Delete Bug", "DeleteBugItem", new { id = item.ItemId })
                }
                else
                {
                    @Html.ActionLink("Delete Feature", "DeleteFeatureItem", new { id = item.ItemId })
                }
                
            </td>
        </tr>
}
    </tbody>
</table>
